body {
    margin: 0px;
}

/* Header Section */
#body-header {
    height: 70vh;
    
    background-image: url('first.jpg');
    background-size: cover;
    background-position: center 25%;
    background-attachment: fixed;
}

/* Horizontal List  */
.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 0px 8px;
}

.horizontal-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.horizontal-list li a:hover {
    background-color: #111;
    transition: color 0.3s ease;
}

.text-center {
    text-align: center;
}
#my-name {
    color: #e5e5e5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 20vh;
}
#my-name-subscript {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: -6vh;
}

.social-icons li a i{
    color: #073032;
    padding: 10px;
    margin-top: -6vh;
    border-radius: 50%;
}
.social-icons li a i:hover {
    background-color: transparent;
    color: #0f9b8e;
    transition: color 0.3s ease;
    box-shadow: 0 0 10px #0f9b8e;
}

.social-icons li a:hover {
    background-color: transparent;
    transition: color 0.3s ease;
}

/* section section */
section {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* .section:nth-child(2n){
    background-color: #f4f4f4;
} */

section:nth-child(2n+1){
    background-color: #e2e2e2;
}

.section-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.section-heading span {
    margin-right: 10px;
    color: #0f9b8e;
}


/* About Me Section */
#about-me {
    padding: 50px 0px 0px 0px;
    text-align: center;
    background-color: #f4f4f4;
    height: auto;
    width: 100%;
}
#about-me h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    color: #333;
}
.my-image-container {
    height: 15rem;
    width : 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin: auto;
    margin-top: -140px;
}

.my-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: fill 100%;
    border: 4px solid #0f9b8e;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#about-me p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: #555;
    max-width: 800px;
    margin: 20px auto 0 auto;
    line-height: 1.6;
}

/* skills section */

.skills-display {
    width: 70%;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-progress {
    width: 7rem;
    height: 1.4rem;
    margin: 20px;
    background-color: lightgrey;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: inset 1px 1px 2px 1px #b9b9b9;
}

.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #98989882
}
.skill-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #333;
    text-align: center;
    margin-left: 10px;
}

.skill-name span{
    margin: 0;

}

/* Timeline Section / experience section*/
#experience {
    padding: 50px 0px 50px 0px;
    background-color: #f4f4f4;
    width: 100%;
    position: relative;
}

.timeline {
    position: relative;
    width: 75%;
    margin: 0 auto;
    border: 2px solid #0f9b8e;
}

.timeline-item {
    position: relative;
    width: 40%;
    margin: 20px;
    left: 2.5%;
    min-height: 150px;
    border: 2px solid #0f9b8e;
}

.timeline-item:nth-child(even) {
    left: 52.5%;
}

.timeline-item:nth-child(2n+1)::after {
    content: "";
    position: absolute;
    top: 48%;
    right: -16.5%;
    width: 20px;
    height: 20px;
    background-color: #0f9b8e;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 0 5px #0f9b8e;
    z-index: 1;
}

.timeline-item:nth-child(2n)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -16%;
    width: 20px;
    height: 20px;
    background-color: #0f9b8e;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 0 5px #0f9b8e;
    z-index: 1;
}

.timeline-divider {
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    border: 3px dashed #0f9b8e;
    height: 75%;
    /* background-color: #0f9b8e; */
}

.timeline-traveller {
    position: sticky;
    top: 48%;
    transform: rotate(90deg);
    z-index: 2;
    font-size: 2rem;
}


.eighty-five-percent {
    width: 85%;
    height: inherit;
    background-color: #0f9b8e;
    border-radius: 0.8rem;
}
.mb75px {
    margin-bottom: 75px;
}

.mb-blue {
    color: #0f9b8e;
}
