#gameContainer {
    text-align: center;
    font-family: Arial, sans-serif;
    height: 80%;
    width: 50%;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0 4px 8px #0000001a;
    margin: 5% 25% 5% 25%;
    padding: 1%;
}

h1 {
    color: #333;
    font:  Verdana, sans-serif;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px #0000001a;
    user-select: none;
}

#emojiDisplay {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #0000001a;
    user-select: none; /* Prevent text selection */
}

#emojiInput {
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 60%;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

#emojiInput:focus {
    border-color: #66afe9;
    outline: none;
}

#submitBtn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

#submitBtn:hover {
    background-color: #218838;
}
#submitBtn:active {
    background-color: #1e7e34;
}

#result {
    padding: 20px 5%;
    font-size: 1.2em;
    background-color: #72a3d6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 20% 0 20%;
}  

#score {
    font-size: 1.5em;
    margin-top: 5%;
    margin-bottom: 10%;
    color: #555;
    user-select: none;
}